[submodule "submodules/mimalloc"]
	path = submodules/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "submodules/FastNoiseLite"]
	path = submodules/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "submodules/libdivide"]
	path = submodules/libdivide
	url = https://github.com/ridiculousfish/libdivide.git
